html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family:'Arial Narrow Bold', sans-serif;
    background-color:#17191c;
    color: rgb(34, 179, 34);
}

a {
    color: white;
}

a li {
    display: inline;
    padding: 20px;
    float: right;
}