* {
  margin: 0;
  padding: 0;
 
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient( rgb(6, 31, 61), rgb(0, 0, 0));
}

main {
  position: relative;
  
  padding: 100px;
  background: linear-gradient( rgb(5, 24, 47),rgb(0, 0, 0));
  
}

article {
  scroll-snap-align: center;
}

.headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.subheading {
  display: flex;
  align-items: center;
}
.audio {
  margin-left: 20px;
  position: relative;
  padding: 5px;
}
.audio:hover {
  background-color: rgb(76, 33, 144);
  border-radius: 50px;
  padding: 5px;
}

h1 {    
    font-size: 250px;
  z-index: 5;
  
  }

h3 {
  font-size: 60px;
}

.color-text {
  background: radial-gradient(
    hsl(313, 82%, 60%), 
    hsl(211, 100%, 50%)
  ) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section-left{
  justify-content: flex-start;

}

.section-right{
  justify-content: flex-end;

}

#parallaxContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
}
#parallaxContainer::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgb(5, 24, 47), transparent );
  z-index: 1000;

}
#parallaxContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#parallaxContainer img#light {
  mix-blend-mode: screen;
}
#parallaxContainer img#fireflies {
  mix-blend-mode: screen;
}
#parallaxContainer img#tree {
  z-index: 6;
}



@keyframes fadeIn {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(157, 0, 255); }
}



/*media queries*/

@media (max-width: 480px) { /* Mobile */
  article {
    width: 80%;
  }
  body {margin: 0px;}

  .section-right{
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) { /* Tablet/Small Laptop */
  article {
    width: 50%;
  }
}

@media (min-width: 1025px) { /* Standard Computer Screen */
  article {
    width: 35%;
  }
}


