/*
  .hero {
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    font-size: 60px;
  }
  
  
  .triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw  solid transparent;
    border-top: 90vh solid #edb6ff;
  }
  
*/
.titles {
  z-index: 1;
  font-size: 100px;
  color: rgb(255, 255, 255);
  width: 100vw;
  background-color: rgb(209, 148, 255);
  height: 80vh;
  padding-top: 10%;
  
}
 h1 {
  font-weight: bolder;
 }

 h2 {
  font-weight: bolder;
 }