
/*heading slide in animatoins*/
header {
    text-align: center;
    width: 100%;
    float: center;
}

header h1 {
  animation: slideIn 2s forwards cubic-bezier(0.63, -0.01, 0.3, 0.62);
  font-size: 150px;
  margin-top: 220px;
}

header h2 {
  opacity: 0;
  animation: slideIn 2s forwards cubic-bezier(0.63, -0.01, 0.3, 0.62);
  animation-delay: 1s;
  font-size: 70px;
}

header h3 {
  animation: bounce 2s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Style the navigation bar */
nav {
  display: flex;
  justify-content: right;
  align-items: right;
}

/* Style the list and remove list styling */
nav ul {
  list-style-type: none;
  padding: 40px;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0;
}

/* Style each list item */
nav ul li {
  text-align: center;
  width: 100px;
  height: 20px; /* Set a fixed height and width for the circle */
  display: flex; /* Use flex display for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 16px;
}

/* Style the links */
nav ul li a {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}