@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*font website uses*/

html {
  cursor: url('../assets/purple.cur'), auto; /*makes mouse purple*/
}

body {
  overflow-x: hidden; /*no scrolling on x axis*/
  color: white;
  background: linear-gradient( rgb(5, 24, 47),rgb(0, 0, 0));
  font-family: 'Zilla Slab', serif;
}

/*arrow shape*/
.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.up { /*rotates the arrow*/
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow:hover { /*changes arrow to purple on hover*/
  border: solid rgb(177, 0, 242);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}



/*down arrow, same as up arrow*/
.arrow-Down {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-Down:hover {
  border: solid rgb(177, 0, 242);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
}

/*MEDIA QUERIES - RESPONSIVE WEBPAGE */
@media (max-width: 480px) { /* Mobile */
  article {
    width: 80%;
  }
  body {margin: 0px;}

  .section-right{
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) { /* Tablet/Small Laptop */
  article {
    width: 50%;
  }
}

@media (min-width: 1025px) { /* Standard Computer Screen */
  article {
    width: 35%;
  }
}


/*ANIMATIONS*/
@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* slide in animation for heading */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(250%);
  }
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}