@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*font website uses*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
html {
  cursor: url('../assets/purple.cur'), auto; /*makes mouse purple*/
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /*no scrolling on x axis*/
  color: rgb(0, 0, 0);
  font-family: 'Zilla Slab', serif;
  background-color: rgb(255, 255, 255);
  text-align: center;

}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}


/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  .hero-body {
    text-align: center; /* Center text within the hero body */
  }

  .hero-body h1 {
    font-size: 80px; /* Increase the font size for h1 */
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 769px) {
    .hero-body h1 {
      font-size: 100px;
  }

  .hero-body {
    width: 100%;
    justify-content: center;
  }
}


