@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*font website uses*/

html {
  cursor: url('../assets/purple.cur'), auto; /*makes mouse purple*/
}



body {
  overflow-x: hidden; /*no scrolling on x axis*/
  color: rgb(255, 255, 255);
  background: linear-gradient( rgb(5, 24, 47),rgb(0, 0, 0));
  font-family: 'Zilla Slab', serif;
}

/*arrow shape*/
.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.up { /*rotates the arrow*/
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow:hover { /*changes arrow to purple on hover*/
  border: solid rgb(177, 0, 242);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}




/*MEDIA QUERIES - RESPONSIVE WEBPAGE */
@media (max-width: 480px) { /* Mobile */
  article {
    width: 80%;
  }
  body {margin: 0px;}

  .section-right{
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) { /* Tablet/Small Laptop */
  article {
    width: 50%;
  }
}

@media (min-width: 1025px) { /* Standard Computer Screen */
  article {
    width: 35%;
  }
}


/*ANIMATIONS*/
@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(250%);
  }
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}



.scroll-down {
  width: 100%;
  padding: 50px 0px;
  text-align: center;
  color: #f2f2f2;
}

.scroll-down-arrow {
  border: 3px solid #f4f4f4;
  border-radius: 50%;
  margin: 45px auto;
  width: 65px;
  height: 65px;
  
  -webkit-animation: bounce 1200ms ease;
  -moz-animation: bounce 1200ms ease;
  -o-animation: bounce 1200ms ease;
  animation: bounce 1200ms ease;
}
.scroll-down-arrow:after {
  content: "";
  position: relative;
  top: 40px;
  right: 1px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f2f2f2; 
}


/* Bounce Key Frames */
@-webkit-keyframes bounce {
  0% {
  -webkit-transform:translateY(0);
  }
  25% {
  -webkit-transform:translateY(100%);
  }
  50% {
  -webkit-transform:translateY(0);
  }
  75% {
  -webkit-transform:translateY(50%);
  }
  100% {
  -webkit-transform:translateY(0);
  }
}

@-moz-keyframes bounce {
  0% {
  -moz-transform:translateY(0);
  }
  25% {
  -moz-transform:translateY(100%);
  }
  50% {
  -moz-transform:translateY(0);
  }
  75% {
  -moz-transform:translateY(50%);
  }
  100% {
  -moz-transform:translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform:translateY(0);
  }
  25% {
    transform:translateY(100%);
  }
  50% {
    transform:translateY(0%);
  }
  75% {
    transform:translateY(50%);
  }
  100% {
    transform:translateY(0%);
  }
}







