
body {
    scroll-behavior: smooth;
    background: linear-gradient( rgb(135, 12, 143), rgb(5, 24, 47),rgb(0, 0, 0));
}
/*3D MODEL*/
model-viewer{
    width:100%;
    height:800px;
    top: 15%;
    }

#model {
    transform: perspective(1200px) rotateY(100deg);
    perspective: 800px;
    transform-style: preserve-3d;
    transform: translateZ(1000px);
}

/*H1 Animation*/
.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 400px;
}

.animation h1 {
    font-size: 200px;
    color: white;
    animation: animateTitle 5s linear;
}

    
@keyframes animateTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*Portfolio Work*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.work {
  display: flex;
  flex-direction: column;
    width: 50rem;
    gap: 100px;
    align-items: center;
}

.work1, .work3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
}



.work2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



img, #vending, #p5 {
    border: 10px solid rgb(71, 40, 175);
    border-radius: 10px;
    transition: transform 0.5s ease; 
}
img:hover, #vending:hover ,#p5:hover {
    transform: rotateY(20deg); /* Apply the rotation on hover */
}

.content {
    margin: 20px;
}

.work {
    margin: 50px;
    animation: fade 3s linear forwards;
}

.git-logo {
    font-size: 2rem;
    color: white;
}



@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}