
body {
    scroll-behavior: smooth;
}
model-viewer{
    width:50%;
    height:800px;
    }

#model {
    transform: perspective(1200px) rotateY(100deg);
    perspective: 800px;
    transform-style: preserve-3d;
    transform: translateZ(1000px);
    width: 100%;
}

main {
    position: flex;
    flex-flow: column;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: black;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 400px;
}

.animation h1 {
    font-size: 200px;
    color: white;
    animation: animateTitle 5s linear;
}
.scroll-down {
    display: flex;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
    border: none;
}
    
@keyframes animateTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}