#Skills {
  text-align: center; /* Center the content horizontally within the section */
}

.tags {
  display: flex;
  flex-wrap: wrap; /* Allow tags to wrap to the next line if necessary */
  justify-content: center; /* Center tags horizontally within the container */
  align-items: center;
}

.tag {
  margin: 5px; /* Add some space between tags (adjust as needed) */
  padding: 5px 10px; /* Add padding to tags for better spacing (adjust as needed) */
  background-color: #ccc; /* Add background color to tags (adjust as needed) */
  border-radius: 20px; /* Add rounded corners to tags (adjust as needed) */
}
