#skills {
    font-size: 20px;
    padding: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
}
#skills ul {
    display: flex;
}
  .ticker-container {
    width: 100%;
    overflow: hidden;
  }
  
  .ticker-wrapper {
    display: inline-block; /* Use inline-block instead of padding-left */
    white-space: nowrap;
    animation: ticker 15s linear infinite; /* Simplify animation properties */
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(100%); /* Start from right edge */
    }
    100% {
      transform: translateX(-100%); /* Move to the left edge */
    }
  }
  
  .ticker-transition {
    display: inline-block;
    white-space: nowrap;
  }
  
  .ticker-transition:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .ticker-item {
    display: inline-block;
    padding: 0 2rem;
  }
  

  