
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
html {
    cursor: url('../assets/purple.cur'), auto;
}

body {
  
    color: white;
    font-family: 'Zilla Slab', serif;
    scroll-snap-type: y mandatory;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient( rgb(6, 31, 61), rgb(0, 0, 0));
  }

header {
  z-index: 2030;
}
nav {
  position: absolute; /* Position the nav relative to the header */
  top: 0; /* Adjust top, left, right, or bottom values as needed */
  right: 0;
  left: 0;
  text-align: center;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
 
}

nav ul li {
  display: inline-flex;
  padding: 5px;
  margin: 10px;
  border-radius: 10%;
  overflow: hidden; /* Ensure the overflow is hidden to contain the animation */
}

nav ul li a {
  position: relative; /* Create a stacking context for pseudo-elements */
  font-size: 20px;
  color: white;
  text-decoration: none;
  z-index: 100; /* Ensure the nav appears above the image */
  width: 100px; /* Set a fixed width for each navbar item */
  box-sizing: border-box; /* Include padding in the element's total width */
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smooth hover effects */
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%; /* Position the pseudo-element outside the anchor */
  height: 100%;
  width: 100%;
  background-color: white;
  transition: right 0.3s; /* Add a transition for the fill animation */
}

nav ul li a:hover::before {
  right: 0; /* Move the pseudo-element to fill from right to left */
}

nav ul li a:hover {
  color: black; /* Change the text color to black on hover */
}

.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to top, rgb(23, 9, 71), transparent );
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item{
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}




#backToTopBtn:hover {
  opacity: 100%;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 10000;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow:hover {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 10000;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}