html {
    scroll-behavior: smooth;
    cursor: url('../assets/purple.cur'), auto;
}

body {
    background: hsl(204 100% 5%);
    color: white;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
  }
nav ul li {
    display: inline-flex;
    background-color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 10%;
    color: black;
}

li a {
  text-decoration: none;
}
