
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
html {
    cursor: url('../assets/purple.cur'), auto;
}

body {
    color: white;
    background: linear-gradient( rgb(5, 24, 47),rgb(0, 0, 0));
    font-family: 'Zilla Slab', serif;
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 70;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
  }
  
  nav ul li {
    padding: 5px;
    margin: 20px;
    border-radius: 10%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem 0.7em;
    position: relative; /* Add relative positioning to the li element */
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    z-index: 75;
    box-sizing: border-box;
  }

  nav ul li:hover{
    background-color: white;  
  }

  nav ul li:hover a{
    color: black;
  }
  
  
.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to top, rgb(23, 9, 71),transparent);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item{
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 90;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow:hover {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 95;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
main

#fullscr {
  position: fixed;
  width: 10%;
  left: 3%;
  top: 3%;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem 0.7em;
  background-color: transparent;
  color: white;
  transition: all .3s;
  z-index: 342;
}

#fullscr:hover {
  background-color: white;  
  color: black;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}