#portfolio-section {
  margin: 0% 10% 3% 10%;
  text-align: center;
}

#portfolio-section p {
  padding: 2% 10%;
}

.columns {
  overflow: hidden;
}

.column {
  position: relative;
}

.column:hover .image-overlay {
  opacity: 1;
}

video {
  margin-bottom: 10px;
}

#portfolio-section h3 {
  padding-top: 5%;

  text-align: left;
  padding-left: 5%;
}

.is-4 {
  padding-top: 1%;
  padding-left: 10%;
}

#portfolio-section a {
  color: black;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 10%;
}

#portfolio-section a:hover {
  color: rgb(72, 72, 72);
}

.icon {
  height: 30px;
  width: 30px;
}

.box {
  margin-bottom: 2px;
}

.project {
  display: flex;
  margin-bottom: 1em;
}

.project-image {
  width: auto;
  height: 520px;
}

.project-video {
  width: 900px;;
  height: 520px;
}

.project-description {
  flex: 1;
  text-align: left; /* Align text to left */
 
}

/* Media Query for devices with a maximum width of 1024px (laptops) */
@media (max-width: 1024px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .project-video {
    width: 500px;
    height: 350px;
  }

  .project-description {
    width: 100%;
    padding: 0 10%;
    text-align: center;
    padding-left: 0; /* Remove left padding */
  }

  #portfolio-section h3 {
    text-align: center;
    padding-left: 0;
  }

  #portfolio-section a {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}

/* Media Query for devices with a maximum width of 768px (tablets) */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .project-video {
    width: 500px;
    height: 350px;
  }

  .project-description {
    width: 100%;
    text-align: center;
 
  }

  #portfolio-section h3 {
    text-align: center;
  }

  #portfolio-section a {
    justify-content: center;
    align-items: center;

  }
}

/* Media Query for devices with a maximum width of 480px (phones) */
@media (max-width: 480px) {
  .project-image {
    width: 100%;
    height: auto;
  }
 

  .project-video {
    width: 300px;
  }

  .project-description {
    width: 100%;
    text-align: center;
  }

  #portfolio-section h3 {
    font-size: 30px;
    padding-top: 10%;
    text-align: center;
  }

  #portfolio-section a {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
