
    
  #portfolio-section {
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

/* Container for images */
.image-container {
  display: flex;
  justify-content: space-between; /* Distribute space between images */
}

/* Style for individual cards (optional) */
.card {
  text-align: center;
  margin: 50px;
}

.card-image img {
  width: 400px;
  height: 250px;
}
